.borderless > tbody > tr > td {
	border: none;
}

.marginless {
	margin: 0px;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > tbody > tr > td {
	vertical-align: middle;
}